@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body{
    color: #333;
    font-family: "Fjalla One", Arial, "Monaco", sans-serif;
    font-size: 16px;
}

#container{
    margin: 0 auto;
    max-width: 960px;
}

header{
    background: #808080;
    border-bottom: 1px solid;
}

#container header{
    background: #af9f6d;
    border-bottom: 1px solid;
    text-align: center;
}

#container header h1{
    font-size: 4em;
    margin: 1em;
}

#container header p{
    font-size: 2em;
    margin: 1em;
}

#container #content{
    background: #dedede;
    padding: 10px;
}

#container #content article{
    background: #FFF;
    border-bottom: 2px solid #3117ff;
}

#container footer{
    background: #af9f6d;
}
     
@media screen and (min-width: 992px) and (max-width: 1200px) {}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #container header{
        background: blue;
    }

    #container #content article{
        background: green;
    }

    #container footer{
        background: yellow;
    }
}

@media screen and (min-width: 465px) and (max-width: 767px) {
    #container header h1{
        font-size: 3em;
        margin: 1em;
}

    #container header{
        background: #E1BA0C;
       
    }

    #container #content article{
        background: #166977;
        
    }

    #container footer{
        background: #5BAB8D;
    }
}

@media screen and (max-width: 464px) {
    
    #container header h1{
        font-size: 4em;
    }

    #container header p{
        font-size: 2em;
    }

    #container header{
        background: #DF7401;
    }

    #container #content article{
        background: #2EFE9A;
    }

    #container footer{
        background: #5F04B4;
    }
}